@font-face {
    font-family: "AstoriaMedium";
    src: url(../assets/font/AstoriaMedium.ttf);
}

:root{
    --header-height: 3.5rem;

    --title-color: #DC780B;
    --title-color-lighten: hsl(31, 90%, 43%);
    --subtitle-color: #6FA12B;
    --text-color: #656C73;
    --body-color: #FAFFF4;
    --container-color: white;

    --body-font: Helvetica;
    --title-font: 'AstoriaMedium';
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --z-tool-tip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
    :root{
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
    
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

a{
    text-decoration: none;
}

li {
    list-style-type: none;
}
  

img{
    max-width: 100%;
    height: auto;
}

.nav-buttons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s;
}

body.dark-theme{
    --title-color: #DC780B;
    --title-color-lighten: hsl(31, 90%, 43%);
    --subtitle-color: #6FA12B;
    --text-color: #FAFFF4;
    --body-color: #151515;
    --container-color: hsl(19, 10%, 10%);
}

.container{
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 5rem 1rem;
}

.section-title{
    font-size: var(--h1-font-size);
    font-family: var(--title-font);
    margin-bottom: 1.5rem;
}

.section-title{
    text-align: center;
}

.features-section {
    margin-top: 20rem;
}

.section-subtitle{
    display: block;
    font-size: var(--h2-font-size);
    font-family: var(--body-font);
    color: var(--subtitle-color);
    margin-bottom: .5rem;
}

.section-title,
.section-subtitle,
.section-description{
    text-align: center;
    margin-bottom: 2rem;
}

.sub-title{
    text-align: justify;
    margin-bottom: 2.5rem;
    line-height: 2rem;
}

.sub-title p {
    margin-bottom: 1rem;
}

.main{
    overflow: hidden;
}

.header{
    position: fixed;
    width: 100%;
    background-color: var(--body-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: box-shadow .3s, background .4s;
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo,
.nav-toggle,
.nav-close{
    display: flex;
    color: var(--title-color);
}

.nav-logo{
    align-items: center;
    column-gap: .5rem;
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    transition: color .3s;
}

.nav-logo img{
    width: 50px;
}

.nav-logo:hover{
    color: var(--title-color);
}

.nav-toggle{
    font-size: 1.25rem;
    cursor: pointer;
    
}

.recipe-title {
    font-size: var(--biggest-font-size);
    font-family: var(--title-font);
    margin-bottom: 1.5rem;
    }

    .recipe-title {
        text-align: center;
    }

    .recipe-img {
        position: relative;
        overflow: hidden;
    }

    .humba {
        margin-top: 7%;
    }

    .plate1 {
        position: absolute;
        top: -120px;
        left: 0;
        width: 450px;
        z-index: 19;
    }

    .plate2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 500px;
        z-index: 20;
        overflow: hidden;
    }

    .plate3 {
        position: absolute;
        top: 20%;
        left: 35%;
        width: 500px;
        z-index: 20;
        overflow: hidden;
    }

    .plate4 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 500px;
        z-index: 20;
        overflow: hidden;
    }
    
    .plate5 {
        position: absolute;
        top: -150px;
        right: 0;
        width: 500px;
        z-index: 19;
    }

    .big-title {
        position: absolute;
        z-index: 30;
        line-height: 4rem;
        top: calc(50% - 2rem);
        width: 100%;
        text-align: center;
        font-size: var(--biggest-font-size);
        font-family: var(--title-font);
        color: #fff;
    }

@media screen and (max-width: 767px) {
    .nav-menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
        padding-block: 3.5rem;
        transition: top .4s;
    }
}

.nav-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
}

.nav-link{
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.nav-link:hover{
    color: var(--subtitle-color);
}

.nav-close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.show-menu{
    top: 0;
}

.bg-header{
    box-shadow: 0 2px 8px hsla(19, 64%, 24%, .1);
}

.home{
    position: relative;
}

.home-container{
    row-gap: rem;
    padding-top: 2rem;
}

.home-img{
    width: 300px;
    justify-self: center;
}

.home-data{
    text-align: justify;
}

.home-title{
    font-size: var(--biggest-font-size);
    font-family: var(--title-font);
    margin-bottom: 1rem;
}

.home-title img{
    width: 40px;
}

.home-title div{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

.home-description{
    text-align: justify;
    margin-bottom: 2.5rem;
    line-height: 1.5;
}

.button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--body-color);
    padding: 1rem 1.5rem;
    border: 1px solid #6FA12B;
    border-radius: 12px;
    color: var(--subtitle-color);
    font-weight: var(--font-medium);
    transition: background .3s;
    margin-right: 20px;
}

.button:hover{
    border: #6FA12B;
    background-color: var(--subtitle-color);
    color: white;
    transform: scale(1.2);
}

.order{
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #6FA12B;
    border-radius: 12px;
    background-color: var(--subtitle-color);
    color: white;
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.order:hover {
    transform: scale(1.1);
}
/* About */

.about{
    position: relative;
}

.about-container{
    row-gap: 3rem;
}

.about-data{
    text-align: center;
}

.about-title img{
    width: 30px;
}

.about-title div{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

.about-img{
    width: 300px;
    justify-self: center;
}

.features-container{
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 5.5rem;
}

.features-card{
    position: relative;
    background-color: none;
    padding: 7rem 1rem 1.5rem;
    border-radius: 1rem;
    text-align: center;
}

.features-img{
    width: 120px;
    position: absolute;
    inset: 0;
    top: 2rem;
    margin: 0 auto;
    transition: transform .5s;
}

.features-name{
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    margin-bottom: 2rem;
    margin-top: 50px;
    color: var(--subtitle-color);
}

.features-description{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
    text-align: center;
}

.pic-ctn {
    position: relative;
    height: 600px;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
}

.pic-ctn1 {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.pic-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .pic {
    width: calc(100% / 3);
    height: 100%;
  }

  .pic1 {
    max-width: 33.33%;
  }

    .pic {
    width: calc(100% / 3);
    height: 100%;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: calc(50% - 20px);
    font-size: 40px;
    border: none;
    background-color: transparent;
    color: white;
    z-index: 1;
    cursor: pointer;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .button-ctn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .button-about {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }

  .button-founder {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  
  .active {
    background-color: white;
  }

.features-card:hover .features-img{
    transform: translateY(-.25rem);
}

.history_lower{
    display: block;
    font-size: var(--h2-font-size);
    font-family: var(--body-font);
    color: var(--title-color);
    margin-bottom: .5rem;
}

.history_upper,
.history_lower{
    text-align: center;
    margin-bottom: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .contact-form label {
    font-family: "Helvetica";
    font-style: normal;
    margin-bottom: 10px;
    color: #656C73;
    text-align: left;
    width: 60%;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    background-color: #FBF1E7;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 60%;
    box-sizing: border-box;
  }
  
  .contact-form button[type="submit"] {
    background-color: #6fa12b;
    margin-top: 1%;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 25%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button[type="submit"]:hover {
    background-color: #70a12bbe;
  }


.popular-container {
    padding-top: 4rem;
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 5.5rem;
}

.popular-card {
    position: relative;
    background-color: var(--container-color);
    padding: 7rem 2rem 1.5rem;
    box-shadow: 0 8px 20px hsla(19, 64%, 48%, .08);
    border-radius: 1rem;
    text-align: center;
} 

.link {
    color: inherit;
    text-decoration: none;
  }

.popular-img {
    width: 220px;
    position: absolute;
    inset: 0;
    top: -2.5rem;
    margin: 0 auto;
    transition: transform .4s;
}

.popular-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    max-width: fit-content;
}



.popular-name {
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    margin-bottom: .50rem;
}

.popular-description {
    display: block;
    font-size: var(--smaller-font-size);
    margin-bottom: 1.5rem;
}

.popular-price {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.popular-button {
    display: flex;
    background-color: var(--first-color);
    padding: 6px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #DC780B;
    font-size: 1.25rem;
    box-shadow: 0 4px 20px hsla(19, 64%, 20%, .2);
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
    cursor: pointer;
    transition: background .3s;
}

.popular-button:hover {
    background-color: var(--first-color);
}

.popular-card:hover {
    transform: translateY(-.25rem);
}

.about-section{
    margin-top: 10rem;
}

/* Testimonial */
.sec-container{
    height: 100vh;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);
}

.testimonial{
    position: relative;
    max-width: 900px;
    width: 100%;
    background-color: var(--body-color);
    padding: 50px 0;
    overflow: hidden;
}

.testimonial .image{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.slide p{
    text-align: center;
    padding: 0 150px;
    line-height: 1.4rem;
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

.slide .quote-icon{
    font-size: 30px;
    color: var(--title-color);
}

.slide .details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name{
    font-size: var(--h3-font-size);
    font-weight: 600;
    color: var(--title-color);
    font-family: var(--title-font);
}

.details .job{
    font-size: var(--normal-font-size);
    font-weight: 400;
    color: var(--subtitle-color);
}

.swiper-btn{
    height: 40px;
    width: 40px;
    transform: translateY(30px);
    transition: 0.2s;
}

.swiper-btn::after,
.swiper-btn::before{
    font-size: 20px;
    color: var(--title-color);
}

/* Newsletter */

.newsletter-section{
    height: 40vh;
    width: 100%;
    margin-top: 5rem;
}

.newsletter-container{
    background-color: var(--body-color);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.picture{
    width: 50%;
    background: url(../assets/images/home/newsletter-photo.jpg);
    background-size: cover;
    height: 250px;
}

.newsletter{
    width: 50%;
    padding: 20px 5%;
}

.newsletter h1{
    margin-bottom: 20px;
    color: var(--title-color);
    font-weight: 900;
    font-family: var(--title-font);
    font-size: var(--h1-font-size);
}

.newsletter p{
    margin-bottom: 40px;
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

.newsletter-form{
    height: 68px;
    background-color: #ebebeb;
    border-radius: 15px;
    display: flex;
    padding: 8px 0;
}

.emailInput, .btn {
    background: none;
    border: none;
    font-size: var(--normal-font-size);
    outline: none;
    transition: .2s linear;
}

.emailInput{
    width: calc(100% - 120px);
    padding: 20px;
    color: var(--text-color);
}

.emailInput::placeholder{
    color: #cccccc;
}

.emailInput:focus{
    padding-left: 30px;
}

.newsletter-btn{
    width: 150px;
    text-transform: uppercase;
    background-color: var(--subtitle-color);
    cursor: pointer;
    border-radius: 15px;
    border: none;
    align-items: center;
    background-color: var(--subtitle-color);
    color: white;
    font-family: var(--body-font);
    height: 100%;
}

.newsletter-btn:hover{
    transform: scale(1.2);
}

.newsletter-btn:hover{
    color: white;
}


/* Footer */

.footer{
    position: relative;
    padding-block: 3rem 2rem;
    margin-top: 1rem;
    overflow: hidden;
}

.footer-container{
    row-gap: 3rem;
}

.footer-logo{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-family: var(--title-font);
    margin-bottom:  1rem;
    transition: color .3s;
}

.footer-logo img{
    width: 25px;
}

.footer-description,
.footer-link,
.footer-information{
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.footer-content,
.footer-links{
    display: grid;
}

.footer-content{
    grid-template-columns: repeat(2, max-content);
    gap: 2.5rem;
}

.footer-title{
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
}

.footer-links{
    row-gap: .5rem;
}

.footer-link{
    color: var(--text-color);
    transition: color .3s;
}

.footer-link:hover{
    color: var(--subtitle-color);
}

.footer-social{
    display: flex;
    column-gap: 1.25rem;
}

.footer-social-link{
    color: var(--title-color);
    font-size: 1.25rem;
    transition: color .3s, transform .3s;
}

.footer-social-link:hover{
    color: var(--title-color);
    transform: translateY(-2px);
}

.footer-info,
.footer-card{
    display: flex;
}

.footer-info{
    margin-top: 6.5rem;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer-card{
    column-gap: 1rem;
    justify-content: center;
}

.footer-card img{
    width: 35px;
}

.footer-copy{
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}

/* Scrollbar */

::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(19, 8%, 75%);
}

::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: hsl(19, 8%, 65%);
}

::-webkit-scrollbar-thumb:hover{
    border-radius: .5rem;
    background-color: hsl(19, 8%, 55%);
}

.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--container-color);
    box-shadow: 0 4px 12px hsla(19, 64%, 24%, .1);
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.1rem;
    color: var(--text-color);
    z-index: var(--z-tool-tip);
    transition: bottom .3s, transform .3s, background .4s;
}

.scrollup:hover{
    transform: translateY(-.25rem);
}

.show-scroll{
    bottom: 3rem;
}

/* Small Device */
@media screen and (max-width: 340px) {
    .container{
        margin-inline: 1rem;
    }

    .section{
        padding-block: 4rem 1rem;
    }

    .home-title{
        font-size: 2rem;
    }

    .popular-img {
        max-width: fit-content;
        height: 150px;
    }
    
    .footer-content{
        gap: 1.5rem;
    }

    .slide p {
        padding: 0 20px;
    }

}

@media screen and (min-width: 576px) {
    .home-container,
    .about-container{
        grid-template-columns: .7fr;
        justify-content: center;
    }

    .popular-img {
        max-width: fit-content;
        height: 150px;
    }

    .footer-content{
        grid-template-columns: repeat(3, max-content);
    }
}

@media screen and (min-width: 767px) {
    .nav{
        column-gap: 3rem;
    }

    .nav-toggle,
    .nav-close{
        display: none;
    }

    .nav-list{
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav-menu{
        margin-left: auto;
    }

    .features-container{
        grid-template-columns: repeat (2, 250px);
    }

    .popular-container {
        grid-template-columns: repeat(2, 250px);
    }

    .popular-img {
        max-width: fit-content;
        height: 150px;
    }

    .footer-content{
        grid-template-columns: repeat(3, max-content);
    }
}

/* Large Device */

@media screen and (min-width: 1024px) {
    .section-subtitle{
        margin: 0;
        padding-block: 2rem 1.5rem;
    }

    .nav{
        height: 5rem;
    }

    .home-container{
        position: relative;
        display: grid;
        grid-template-columns: 52% 45%; 
        padding-block: 7rem 3rem;
        top: 5rem;
    }

    .home-data{
        text-align: initial;
        order: -1;
    }

    .home-title img{
        width: 60px;
    }

    .home-title div{
        justify-content: initial;
        column-gap: 1rem;
    }

    .section-description{
        display: block;
        font-size: var(--normal-font-size);
        margin-bottom: 1rem;
        text-align: left;
        line-height: 1.5rem;
    }

    .about-title{
        text-align: left;
    }

    .about-container .section-subtitle{
        text-align: left;
    }

    .home-img{
        width: 600px;
        position: absolute;
        top: 1.5rem;
        right: -2rem;
    }

    .about-container{
        grid-template-columns: 450px 360px;
        align-items: center;
        column-gap: 7rem;
    }

    .about-data{
        order: 1;
        margin-top: -5rem;
    }

    .about-data,
    .about .section-title,
    .about .section-subtitle{
        text-align: left;
    }

    .about-title div{
        column-gap: 1rem;
        justify-content: initial;
    }

    .about-title img{
        width: 50px;
    }

    .about-img{
        width: 450px;
    }

    .features-container{
        grid-template-columns: repeat(3, 262px);
        column-gap: 4rem;
        padding-block: 2rem 4rem;
    }

    .features-card{
        padding: 7.5rem 2rem 2rem;
        border-radius: 1.5rem;
    }

    .features-img{
        widows: 230px;
    }

    .table {
        width: 100%;
        height: 100%;
    }

    .popular {
        margin-top: -2rem;
    }

    .popular-container {
        grid-template-columns: repeat(3, 350px);
        column-gap: 3.5rem;
    }

    .popular-card {
        padding: 7.5rem 2rem 2rem;
        border-radius: 1.5rem;
    }
    
    .popular-img {
        max-width: fit-content;
        height: 150px;
    }

    .popular-button {
        bottom: 1.7rem;
    }

    .footer{
        padding-block: 3rem 3rem;
    }

    .footer-container{
        position: relative;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }

    .footer-content{
        column-gap: 4rem;
    }

    .footer-title,
    .footer-description,
    .footer-link,
    .footer-information{
        font-size: var(--normal-font-size);
    }
    
    .footer-social-link{
        font-size: 1.5rem;
    }
    
    .scrollup{
        right: 3rem;
    }
}

@media screen and (min-width: 1064px) {
    .container{
        margin-inline: auto;
    }
}

@media screen and (min-width: 1280px) {
    .container{
        margin-inline: auto;
    }
}

@media screen and (max-width: 768px) {
    .slide p {
      padding: 0 20px;
    }

    .swiper-btn {
      display: none;
    }
}

@media screen and (max-width: 900px) {
    .picture{
        width: 100px;
        height: 360px;
    }
    .newsletter{
        width: 100%;
        padding: 100px 20%;
    }
}

@media screen and (max-width: 600px) {
    .newsletter{
        padding: 100px 30%;
    }
}
/* Scroll Reveal */